<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ACME Incorporated - This is a Beautiful Sentence</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="/"><img src="/img/title.png"  alt="ACME Incorporated"></a>
    </nav>

    <div id="hero">
      <div class="container">
        <h1>This is a Beautiful Sentence.</h1>
        <p>It really is just spectacular.</p>
        <a id="down_btn">
          <p>Meet the team.</p>
        </a>
      </div>
    </div>

    <div id="teamListing">
      <div class="row">
        <div class="col-xs-7">
          <h2>Our Team</h2>
        </div>
        <div id="teamFilterLabel">
          Filter by:
        </div>
        <div id="teamFilter">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="teamDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span id="dropdownSelected">All Images</span>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="teamDropdown">
              <li><a href="#all" data-filter="all">All Images</a></li>
              <li><a href="#heroes" data-filter="heroes">Heroes</a></li>
              <li><a href="#villians" data-filter="villains">Villains</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="teamGrid">
        <% team_members.each do |member| %>
          <div class="member <%= member['heroVillain'] %>">
            <div class="thumbnail" id="<%= member['profileId'] %>">
              <span class="background" style="background-image:url(/img/<%= member['backgroundImg'] %>)"></span>
              <img src="/img/<%= member['profileImg'] %>" alt="member['name']" />
              <div class="caption">
                <h3><%= member['name'] %></h3>
                <p>
                  <%= member['description'] %>
                </p>
                <a href="http://www.wiseandhammer.com">www.wiseandhammer.com</a>
                <a href="mailto:test@wiseandhammer.com">test@wiseandhammer.com</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row" id="contactForm">
        <h2>Contact Us</h2>

        <form action="https://formkeep.com/f/3470cf16d02a" method="post">
          <span class="col-md-6">
            <input type="text" name="first_name" autocomplete="given-name" placeholder="First Name" required>
            <input type="text" name="last_name" autocomplete="family-name" placeholder="Last Name" required>
            <input type="email" name="email" autocomplete="email" placeholder="Email" required>
          </span>

          <span class="col-md-6">
            <textarea name="message" rows="8" cols="40" placeholder="Your Message" required></textarea>
          </span>

          <div class="col-md-12">
            <button type="submit" name="submit" class="btn btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>

    <script src="/js/main.js"></script>
    </body>
</html>
