@import 'bootstrap.min';
@import 'bootstrap-theme.min';
@import 'fonts.css';

$bgColor: #f7f7f7;
$borderColor: #d7d7d7;

body {
  font-family: 'Lato Regular';
  background: $bgColor;
  font-size: 16px;
}

#hero {
  @extend .jumbotron;

  background: url("/img/hero.jpg");
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bgColor;
  text-align: center;
  text-shadow: 0px 1px 10px rgba(53, 53, 53, 0.65);
  padding: 0;

  h1 {
    font-family: 'Roberto Slab Thin';
    font-size: 4.2em;
    margin: 260px auto 0 auto;
    font-weight: bolder;
    line-height: .9em;
  }

  p {
    font-family: 'Lato Light';
    font-size: 2.4em;
  }
}


nav.navbar {
  opacity: 0.6;
  height: 120px;
  display: flex;
  justify-content: center;
  background: #000;
}

nav.navbar img {
  height: 72px;
  width: 278px;
}

/* Didn't like the button as a raster image. Since I don't have illustrator
 * or other vector editing software I decided to just make the button with
 * css. Doesn't come out exactly perfect, but close.
 */

#down_btn, #down_btn:after, #down_btn:before {
  display: block;
  border-color: $bgColor;
  border-width: 3px;
}

#down_btn {
  box-shadow: 0px 1px 10px rgba(53, 53, 53, 0.65);
  border-style: solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 60px auto 0 auto;

  p {
    display: none;
  }

  &:after, &:before {
    content: "";
    position: relative;
    margin: 0 auto;
  }

  &:after {
    left: 1.5px;
    top: 25px;
    border-right-style: solid;
    border-bottom-style: solid;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }

  &:before {
    content: "";
    float: left;
    border-top-style: solid;
    width: 30px;
    height: 40px;
    top: 10px;
    transform: rotate(90deg);
  }
}

/*
 * End of the button css
 */

 .member {
   @extend .col-md-3;
 }

#teamListing {
  @extend .container;
}

#teamListing, #contactForm {
  border-top: 1px solid $borderColor;
  margin-top: 75px;
  padding: 0;
}

#teamListing h2, #contactForm h2, #teamListing h3, #contactForm button {
  text-transform: uppercase;
}

#teamListing h2, #contactForm h2 {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0 auto;
}

#teamFilter {
  @extend .col-xs-3;

  button {
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    border-top: none;
    border-radius: 0px;
  }

  button, ul {
    background: #fff;
    width: 100%;
    text-align: left;
    color: #666;
  }
}

#teamFilter button, #teamFilterLabel, #teamFilter ul {
  font-size: 1.4em;
}

#teamFilter button, #teamFilterLabel, #teamHeader, #teamFilter ul, #teamListing h2, #contactForm h2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#teamFilterLabel {
  @extend .col-xs-2;
  text-align: right;
}

.caret {
  position: absolute;
  top: 45%;
  right: 10px;
}

#teamGrid {
  @extend .row;

  margin-top: 50px;

  .thumbnail {
    border: none;
    border-radius: 0px;
    position: relative;
  }

  h3 {
    font-family: "Lato Bold";
    text-align: center;
    margin-top: 4px;
    letter-spacing: .1em;
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    border-bottom: 10px solid #f7f7f7;
    background-color: #fff;
    background-repeat: repeat-x;
  }

  img {
    position: relative;
    margin-top: 25px;
    border: 5px solid #fff;
    border-radius: 50%;
    z-index: 10;
  }
}

#contactForm {
  margin-bottom: 160px;

  h2 {
    margin-bottom: 40px;
  }

  input, textarea {
    padding: 12px;
    border: 1px solid $borderColor;
  }

  input {
    width: 100%;
    margin: 0 auto 25px auto;
  }

  textarea {
    float: right;
    width: 100%;
  }

  button {
    background: #10b9d7;
    border-radius: 2px;
    padding: 20px 100px;
    border: none;
    font-size: 1.2em;

    &:hover {
      background: #079bb5;
    }
  }
}
