@font-face {
    font-family: 'Roberto Slab Bold';
    src: url('/fonts/roberto_slab/robotoslab-bold-webfont.eot');
    src: url('/fonts/roberto_slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roberto_slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('/fonts/roberto_slab/robotoslab-bold-webfont.woff') format('woff'),
         url('/fonts/roberto_slab/robotoslab-bold-webfont.ttf') format('truetype'),
         url('/fonts/roberto_slab/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roberto Slab Light';
    src: url('/fonts/roberto_slab/robotoslab-light-webfont.eot');
    src: url('/fonts/roberto_slab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roberto_slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('/fonts/roberto_slab/robotoslab-light-webfont.woff') format('woff'),
         url('/fonts/roberto_slab/robotoslab-light-webfont.ttf') format('truetype'),
         url('/fonts/roberto_slab/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roberto Slab';
    src: url('/fonts/roberto_slab/robotoslab-regular-webfont.eot');
    src: url('/fonts/roberto_slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roberto_slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/fonts/roberto_slab/robotoslab-regular-webfont.woff') format('woff'),
         url('/fonts/roberto_slab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('/fonts/roberto_slab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roberto Slab Thin';
    src: url('/fonts/roberto_slab/robotoslab-thin-webfont.eot');
    src: url('/fonts/roberto_slab/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roberto_slab/robotoslab-thin-webfont.woff2') format('woff2'),
         url('/fonts/roberto_slab/robotoslab-thin-webfont.woff') format('woff'),
         url('/fonts/roberto_slab/robotoslab-thin-webfont.ttf') format('truetype'),
         url('/fonts/roberto_slab/robotoslab-thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Black';
    src: url('/fonts/lato/lato-black-webfont.eot');
    src: url('/fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-black-webfont.woff') format('woff'),
         url('/fonts/lato/lato-black-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Black Italic';
    src: url('/fonts/lato/lato-blackitalic-webfont.eot');
    src: url('/fonts/lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-blackitalic-webfont.woff') format('woff'),
         url('/fonts/lato/lato-blackitalic-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('/fonts/lato/lato-bold-webfont.eot');
    src: url('/fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('/fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Bold Italic';
    src: url('/fonts/lato/lato-bolditalic-webfont.eot');
    src: url('/fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
         url('/fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('/fonts/lato/lato-hairline-webfont.eot');
    src: url('/fonts/lato/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-hairline-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-hairline-webfont.woff') format('woff'),
         url('/fonts/lato/lato-hairline-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline Italic';
    src: url('/fonts/lato/lato-hairlineitalic-webfont.eot');
    src: url('/fonts/lato/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-hairlineitalic-webfont.woff') format('woff'),
         url('/fonts/lato/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Italic';
    src: url('/fonts/lato/lato-italic-webfont.eot');
    src: url('/fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-italic-webfont.woff') format('woff'),
         url('/fonts/lato/lato-italic-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light';
    src: url('/fonts/lato/lato-light-webfont.eot');
    src: url('/fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-light-webfont.woff') format('woff'),
         url('/fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Light Italic';
    src: url('/fonts/lato/lato-lightitalic-webfont.eot');
    src: url('/fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-lightitalic-webfont.woff') format('woff'),
         url('/fonts/lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('/fonts/lato/lato-regular-webfont.eot');
    src: url('/fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('/fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
